@media screen and (min-width: 1000px) {
	/* Site */
	body {
		font-family: "Audiowide-Regular", Helvetica, Arial, sans-serif;
		font-size: 100%;
		background-color: black;
		background-image: url("img/fond2.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100%, auto;
		text-align: center;
		color: red;
	}
	p a{
		color: white;
	}
	h1{
		color: red;
	}
	h2{
		color: green;
	}
	/* Menu */
	header{
		border: 2px solid black;
		width: 200px;
		position: fixed;
		text-align: center;
		top: 25%;
		left: 5%;
	}	
	header ol {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	header li {
		float: left;
		margin: auto;
	}
	header li a {
		display: block;
		width: 170px;
		color: white;
		text-decoration: none;
		padding: 15px;
	}
	header ol li:hover a {
		color: black;
		background-color: white;
	}
	#top{
		padding-top: 0;
	}
	/* Sous-menu */
	/*
	header ol li ol {
		display: none;
	}
	header ol li:hover ol {
		display: block;
		position: absolute;
		left: 115%;
	}
	header ol li:hover ol a {
		display: block;
		background-color: gray;
		border-radius: 10px;
	}
	header li:hover ol li {
		float: none;
	}
	header li a:hover {
		color: black;
		background-color: white;
		border-radius: 10px;
	}
	*/
}

@media screen and (max-width: 1000px) {
	/* Site */
	body {
		font-family: "Audiowide-Regular", Helvetica, Arial, sans-serif;
		font-size: 250%;
		background-color: black;
		background-image: url("img/fond2.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		text-align: center;
		color: red;
	}
	p a{
		width: 500px;
		color: white;
	}
	h1{
		color: red;
	}
	h2{
		color: green;
	}
	/* Menu */
	header{
		display: none;
	}
}
/* Style du site */
@font-face{
	font-family: "Audiowide-Regular";
	src: url('Audiowide-Regular.ttf');
}

